.container{
  .row{
    margin-left: -.75rem;
    margin-right: -.75rem;
  }
}

html {
  @media #{$small-and-down} {
    font-size: 13px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.row {
  &.grid {
    .cell{
      margin-left: 0;
    }
  }
}