#countries{

  .row{
    margin-bottom: 0;
  }

  h5{}

  .__item{
    margin-bottom: 1rem;
    min-height:38px;
    box-sizing: border-box;
    position: relative;

    :first-child & {
      @media #{$small-and-down} {
        margin-top: 1rem;
      }
    }

    @media #{$medium-and-up} {
      margin-top: 2rem;
    }

    a{
      display: inline-block;
      padding-left: 45px;
      font-weight: bold;
      text-transform: uppercase;

      &:focus,
      &:active,
      &:hover{
        opacity: 0.8;
        color: $secondary-color;
      }

      i{
        position: absolute;
        left: 0;
        width: 36px;
        height: 36px;
        top: 0;
      }
    }
  }
}
