#featured{
  .__item{
    padding: 0 25px 25px 25px;

    .icon{
      text-align: center;

      > i{
        display: inline-block;
        line-height:1;

        &.icon-diamond{
          &:before{
            line-height: 50px;
            font-size: 36px;
          }
        }
      }
    }

    .__title{
      padding-bottom: 0;
      padding-top: 1rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    p{
      font-size: .9rem;
      text-align: center;
    }
  }
}