.request-form-block {
  background-color: rgba($primary-color, .85);
  position: relative;

  @media #{$medium-and-down}{
    padding-bottom: 1rem;
  }

  .parallax-container{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%!important;
  }

  .container{
    .row{
      margin-bottom: 0;
    }
  }

  .__wrapper{
    position: relative;
    margin-bottom: 4rem;

    > a{
      position: absolute;
      top: -28px;
      left: 28px;

      @extend .z-depth-0;

      >i{
        color: $secondary-color;
      }
    }
  }

  .form-wrapper{
    padding: 20px;
    position: relative;
    background: white;

    @media #{$large-and-up} {
      top: -20px;
    }

    @extend .z-depth-4;

    .form-title{
      font-size: .9rem;
      text-transform: uppercase;
      margin-top: 0;
      line-height: 1.5rem;
      padding-bottom: 10px;
      border-bottom: 1px solid color('grey', 'lighten-3');
    }
  }
}

#callback {
  form{
    margin:0;

    .error{
      color: white!important;
    }

    .input-field{

      .prefix{
        color: white!important;
      }

      input{
        border-bottom: 2px solid white!important;
        color: white!important;

        + label {
          color: white!important;
        }
      }
    }

    p{


      label{
        color: white;

        input {
          +span{
            &:before{
              border-color: white;
            }
          }

          &:checked{
            +span{
              &:before{
                border-top-color: transparent;
                border-left-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

form {
  p{
    margin-top: 0;

    label {
      height: auto;

      input[type="checkbox"] {
        + span{
          font-size:.8rem!important;
          line-height: 1rem!important;
          height: auto!important;
        }
      }

      .error{
        font-size: .85rem;
        color: color("red", "darken-3");
        display: block;
        padding-left: 35px;
      }
    }
  }

  label{
    +.error{
      font-size: .85rem;
      color: color("red", "darken-3");
      display: block;
    }
  }

  .input-field{
    .prefix{
      left: 8px;
      top: 0;
      margin-top: 15px;
      font-size: 1.2rem;

      +input,
      +textarea{
        width: 100%;
        box-sizing: border-box;
        margin: 0!important;
        padding-left: 2rem!important;
        box-shadow: none!important;

        + label {
          margin-left: 2rem!important;

          &.active{
            display: none;
          }
        }
      }
    }
  }
}