#goods{
  .cell{
    display: flex;
  }
  [class*="__item"] {
    display: block;
    width: 100%;
    padding: 1.5rem 2rem;
    position: relative;
    background-color: white;
    border: 2px solid color('grey', 'lighten-3');
    margin-top: .75rem;
    margin-bottom: .75rem;
    color: $off-black!important;
    transition: all 0.3s ease 0s;
    text-align: center;


    &:hover,
    &:focus{
      border-color: $primary-color;
    }

    .icons{
      line-height: normal;
      margin-bottom: 1.3rem;
      color: $primary-color;
      transition: all 0.3s ease 0s;
    }

    > span {
      text-transform: uppercase;
      font-weight:bold;
    }
  }
}