header{
  @media #{$medium-and-down} {
    height: 3rem;
    line-height: 3rem;
  }
  height: 7rem;
  line-height: 7rem;

  .brand-logo{
    margin-top: 1rem;
    display: inline-block;

    @media #{$medium-and-up} {
      margin-top: 2rem;
    }
  }

  .row{
    margin-bottom: 0;
  }

  .info-box{
    position: relative;

    @media #{$large-and-up} {
      padding: 0 1rem;
    }

    i{
      position: absolute;
      line-height: 7rem;
      color: $primary-color;
      font-size: 38px;

      @media (min-width: 1350px) {
        left: 40px;
      }
      @media (min-width: 1500px) {
        left: 50px;
      }
    }

    .info-box__item {
      text-align: center;
      line-height: normal;

      @media #{$large-and-up}{
        padding-left: 3rem;
      }

      > * {
        display: inline-block;
        width: 100%;
        font-weight: bold;
      }

      /*> span {
        padding-top: 1.8rem;
        text-transform: uppercase;
      }*/

      > a{
        padding-top: 2.7rem;
      }
    }
  }
}