#info{
  position: relative;

  h1{
    font-weight: bold;
  }

  [class*="__item"]{
    padding-left: 5rem;
    position: relative;
    margin: 3rem 0;

    .iconbox{
      position: absolute;
      left: 0;
    }
  }

  .btn{
    @media #{$large-and-up} {
      margin-top: 1rem;
    }
  }

  .video-wrapper{
    @media #{$medium-and-down} {
      margin-top: 1rem;
    }
  }
}