

.featured-list{
  padding-left: 1rem;

  > li{
    position: relative;
    min-height: 24px;
    padding-left: 35px;

    @extend .valign-wrapper;

    >i{
      position: absolute;
      top: 0;
      left: 0;
    }

    + li {
      margin-top: 10px;
    }
  }
}