[class*="list__"] {
  > li {

    &:first-child{
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: bold;
    }

    + li {
      margin-bottom: .75rem;
      font-size: 1.1rem;
      color: color('grey', 'darken-2');

      > a {
        color: $primary-color;
      }
    }
  }
}