#services {
  [class*="__item"] {
    display: block;
    padding: 1.5rem 2rem;
    position: relative;
    background-color: white;
    border: 2px solid color('grey', 'lighten-3');
    margin-top: .75rem;
    margin-bottom: .75rem;
    color: $off-black!important;

    &:hover,
    &:focus{
      border-color: $primary-color;
    }

    &:before{
      content: "";
      position: absolute;
      border: 2px solid $primary-color;
      height:0;
      top: 5.3rem;
      width: 4rem;
    }

    .icons{
      line-height: normal;
      margin-bottom: 1.3rem;
      color: $primary-color;
    }

    .title{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.3rem;
      text-transform: capitalize;
    }
  }
}