#work-schema {
  [class*="__item"] {
    position: relative;
    padding-left: 3rem;

    .item-num{
      position: absolute;
      top: 0;
      left: 0;
      width: 2.4rem;
      font-size: 1.8rem;
      color: white;
      background-color: $primary-color;
      text-align: center;
    }

    p{
      font-size: 1.1rem;
      font-weight:bold;
    }
  }
}