/*
 * Project variables
 */

// Font

@font-face{
  font-family:'A Futura Round';
  src: url(../fonts/AFuturaRound.eot?#iefix) format("embedded-opentype"),
    url(../fonts/AFuturaRound.woff) format("woff"),
    url(../fonts/AFuturaRound.ttf) format("truetype"),
    url(../fonts/AFuturaRound.svg#AFuturaRound) format("svg");
  font-weight:400;
  font-style:normal
}

@font-face{
  font-family:'A Futura Round';
  src: url(../fonts/AFuturaRoundDemi.eot?#iefix) format("embedded-opentype"),
    url(../fonts/AFuturaRoundDemi.woff) format("woff"),
    url(../fonts/AFuturaRoundDemi.ttf) format("truetype"),
    url(../fonts/AFuturaRoundDemi.svg#AFuturaRoundDemi) format("svg");
  font-weight:700;
  font-style:normal
}

$font-stack: -apple-system, BlinkMacSystemFont, 'A Futura Round', sans-serif !default;

$h1-fontsize: 3rem !default;
$h2-fontsize: 2.5rem !default;
$h3-fontsize: 2.1rem !default;
$h4-fontsize: 1.7rem !default;
$h5-fontsize: 1.4rem !default;
$h6-fontsize: 1.1rem !default;

// Custom colors
$primary-color: #016db6;
$secondary-color: #212121;

// Grid
$num-cols: 24 !default;




@import '../../node_modules/materialize-css/sass/materialize';
@import 'loader';
@import 'flaticon';
@import 'core';
@import 'header';
@import 'navbar';
@import 'info';
@import 'services';
@import 'lists';
@import 'forms';
@import 'schemes';
@import 'clients';
@import 'blog';
@import 'contacts';
@import 'fontello';
@import 'featured';
@import 'callback';
@import 'footer';
@import 'lang';
@import 'countries';
@import 'goods';
@import 'menu';
@import 'testimonials';
@import 'modals';
